.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.login_card{
    height: 7rem;
    width: 25rem;
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: onShow 1s forwards;
    flex-direction: column;
}

.login_card p{
    margin-top: 0.3rem;
    color: red;
    font-size: 13px;
}


.form_control{
    display: flex;
    justify-content: space-between;
}

.form_control button{
    margin-left: 0.3rem;
    border-radius: 10px;
    font-size: 14px;
}
.form_control input{
    margin-left: 0.3rem;
}

.form_control h2{
    font-size: 14px;
    margin-right: 0.3rem;
}


@keyframes onShow{
    0%{
        opacity: 0;
        transform: translateX(+200px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}