.container{
    margin:0.5rem 25px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 50px);
}
.container button{
    margin-right: 0.3rem;
}
.buttonsContainer{
    display: flex;
}
.searchInput{
    padding: 0.2rem;
}